:root {
  --heading-font: "Inter", sans-serif;
  --body-font: "Roboto", sans-serif;
  --primary-color: rgb(0 92 117);
  --secondary-color: rgb(48, 48, 48);
  --accent: rgb(255,215,0);
  --background: rgb(240 240 240);
  --dark-text: rgb(20, 3, 33);
  --light-text: rgb(252, 250, 255);
  --form-color: rgb(27, 50, 56);
  --button-color: rgb(0 127 186);
  --button-hover-color: rgb(51, 51, 51);
  --width-xs: 18em;
  --width-sm: 36em;
  --width-md: 54em;
  --width-lg: 72em;
  --width-xl: 90em;
  --h1-size: 1.2rem;
  --h2-font-size: 3rem;
  --logo-size: 1.8rem;
  --feature-font-size: 1.5rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  background-color: var(--background);
  color: var(--dark-text);
  scroll-behavior: smooth;
}

/* Navbar */
.nav-header {
  width: 100%;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--light-text);
  padding: 0 var(--spacing-lg);
}

.navbar .company-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo p {
  font-size: var(--logo-size);
  padding: var(--spacing-sm);
  border-radius: 50%;
  background-color: var(--secondary-color);
  text-align: center;
}

.company-details h1 {
  font-size: var(--h1-size);
  margin-left: var(--spacing-xs);
  font-family: var(--heading-font);
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 700;
}

.navbar .menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu li {
  padding: 0 var(--spacing-sm);
}

.navbar .menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--light-text);
  font-weight: 500;
  transition: color 0.25s ease;
}

.navbar .menu a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent);
}

.about-background {
  border: 1px solid #ff0000;
  margin-top: 125px;
}

.feature-wrapper {
  display: flex;
}

.feature-container {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  flex-direction: row;
}

.flex-right {
  flex-direction: row-reverse;
}

.feature-container .feature-img img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
